@*@model IQueryable<Product>
    @foreach (var p in Model ?? Enumerable.Empty<Product>())
    {
    <div>
    <h3>@p.Name</h3>
    @p.Description
    <h4>@p.Price.ToString("c")</h4>
    </div>
    }*@
@model Product
<div class="card card-outline-primary m-1 p-3">
    <div class="bg-faded">
        <h4>
            @Model.Name
            <span class="badge rounded-pill bg-primary text-white" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="card-text">@Model.Description</div>
</div>